{% extends 'main/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

{% load static %}
<br/>

<div class="sidebar">
    <nav class="section-nav">
        <br><br>
        <a href="#1">Появление танков в мире</a> |
        <a href="#2">Зарождение танкостроения в России</a> |
        <a href="#3">Развитие танкостроения в СССР</a> |
        <a href="#4">Танки в Великой Отечественной войне</a>
    </nav>
</div>


<h2 class="welcome-title">Добро пожаловать на сайт о советских танках!</h2>
<div class="slideshow-container">
    <div class="slideshow">
        <img src="{% static 'images/15.jpg' %}" class="blurred-edges" alt="Танк Т-34">
        <img src="{% static 'images/2025-03-02170759.png' %}" class="blurred-edges" alt="Танки">
        <img src="{% static 'images/9488c25cf92f4b3aab52ddd238fe3979.jpg' %}" class="blurred-edges" alt="Танк">

   </div>
</div>

<p style="font-family: Verdana, sans-serif; font-size: 15px; color: blue;">
</p>
<p class="image-caption">Здесь вы найдете информацию о <em>легендарных</em> <strong>танках</strong> времен Второй мировой войны.</p>

<br/><br/>
<div class="article-section" id="1">
            <h2>Появление танков в мире</h2>
            <p>Первые танки появились в начале XX века и впервые были использованы Великобританией во время Первой мировой войны. Их разработка была вызвана необходимостью преодоления позиционной войны и повышения мобильности войск

Первый боевой танк, Mark I, был применён британцами в

После войны развитие танков продолжилось в разных странах. К началу Второй мировой войны они стали мощной силой, способной решать широкий спектр боевых задач.</p>
            <img src="{% static 'images/AQAKQpWlOmcBK_sGBR8d7RtIInaiLEMK_SxNZexMzMSEJ4fsiuYJj5yeLrN8opHNbrz5ouGWtX6seGlcIl-nuOP9Ou8.png' %}" class="blurred-edges" alt="Танк Т-34">
</div>
<br/>
        <div class="article-section" id="2">
            <h2>Зарождение танкостроения в России</h2>
            <p>Первые попытки создания бронетехники в Российской империи начались ещё до революции. В 1914–1915 годах инженеры предлагали различные проекты боевых машин, но из-за технических и экономических трудностей они не были реализованы. Единственным построенным образцом стал опытный броневик-трактор «Царь-танк» Николая Лебеденко, испытанный в 1915 году. Однако из-за неудачной конструкции, слабой проходимости и высокой уязвимости он не был принят на вооружение.

После революции 1917 года развитие танкостроения продолжилось в Советской России. В 1920-е годы начался выпуск первых советских танков, среди которых был МС-1 (Т-18) — первый серийный советский лёгкий танк, разработанный на основе французского Renault FT. Он имел бронированную башню, вооружённую 37-мм пушкой, и стал основой для дальнейшего развития советской бронетехники.</p>

            <img src="{% static 'images/AQAKKQeW3B9muCnQaYS3RjRE24fqFwYP9oCvLw4kC3X4Z-97EE7zIDOAluYxNa91Dg4vzFjfBq5HRQW2AcRCHmuGIPg.jpg' %}" class="blurred-edges" alt="броневик-трактор «Царь-танк»">
        </div>
<br/>
        <div class="article-section" id="3">
            <h2>Развитие танкостроения в СССР</h2>
            <p>Развитие танкостроения в СССР

В СССР танкостроение получило значительное развитие, особенно в 1930-е годы. В этот период были созданы такие модели, как Т-26 и БТ (быстроходные танки), сыгравшие важную роль в становлении бронетанковых войск. Т-26 использовался как основной лёгкий танк, а серия БТ отличалась высокой скоростью и манёвренностью.

Настоящий прорыв произошёл в конце 1930-х, когда был разработан Т-34 — один из лучших танков Второй мировой войны. Он сочетал в себе мощное вооружение, надёжную броню и хорошую проходимость. Также был создан тяжёлый танк КВ-1, обладавший высокой защитой.</p>
            <img src="{% static 'images/c0w-ZtRpQxI.jpg' %}" class="blurred-edges" alt="Танк БТ-7">
        </div>
<br/>
        <div class="article-section" id="4">
            <h2>Танки в Великой Отечественной войне</h2>
            <p>Танки Т-34 и ИС-2 сыграли ключевую роль в победе над нацистской Германией. Т-34, появившийся в 1940 году, отличался удачным сочетанием брони, огневой мощи и подвижности, что сделало его одним из лучших средних танков Второй мировой войны. Его модернизированная версия Т-34-85 с усиленной бронёй и мощной 85-мм пушкой эффективно боролась с немецкими «Тиграми» и «Пантерами».

Тяжёлый танк ИС-2, оснащённый 122-мм орудием, был создан для борьбы с мощной бронетехникой противника и прорыва укреплённых позиций. Он сыграл важную роль в боях 1944–1945 годов, включая штурм Берлина.

Советские танковые армии внесли решающий вклад в освобождение СССР и Европы, продемонстрировав превосходство советской бронетехники на поле боя.</p>
            <img src="{% static 'images/scale_1200.jpeg' %}" class="blurred-edges" alt="Танк Т-34">
        </div>
<br/><br/><br/><br/><br/><br/>
{% endblock %}
